<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Amazon India Clone</title>
        <link rel="stylesheet" href="../static/style1.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>

    <body>

        <header>
            <nav class="navbar">
                <div class='left-nav'>
                    <div class="logo Border-on-Hover">
                        <a href='#'>
                            <img src="../static/images/amazon_logo.png" alt="Amazon Logo"
                                class="logo-img">
                        </a>
                    </div>


                    <div class="nav-address Border-on-Hover">
                        <a href="/">
                            <div class="add-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class='navloc_detail'>
                                <span class="add-first">Deliver to Ashish</span>
                                <span class="add-second">Chandrapur 442401 </span>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Search Navigation -->
                <form action='search' >
                <div class="nav-search ">
                    <div class="selectbutton">
                        <select class="search-select">
                            <option>All</option>
                        </select>
                    </div>

                    <input placeholder="Search Amazon.in" class="search-input">
                    
                    <button type='submit' class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                </form>

                <!-- india map language selector  -->

            <div class="Right-nav ">
                    <div class="nav-flag Border-on-Hover">
                        <a href="#" class="nav-flag">
                        <div class="flag"></div>
                        <div class="EN-font">EN <i class="fa-solid fa-caret-down"></i> </div>
                        </a>
                    </div>


                    <div class="nav-signin Border-on-Hover ">
                        <a href="#" class="nav-signin" >
                        <p class="nav-first"><span>Hello, sign in</span></p>
                        <p class="nav-second">Account & Lists</p>
                        </a>
                    </div>

                    <div class="nav-return Border-on-Hover ">
                        <a href="#" class="nav-return">
                        <p class="nav-first"><span>Returns</span></p>
                        <p class="nav-second">& Orders</p>
                    </a>
                    </div>

                    <div class="nav-cart Border-on-Hover">
                        <a href="#" class="nav-cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Cart
                    </a>
                    </div>
            </div>
            
            </nav>

            <div class="panel">
                <div class="panel-all">
                    <i class="fa-solid fa-bars"></i>
                    All
                </div>
                <div class="panel-ops">
                    <p>Amazon miniTV</p>
                    <p>Sell</p>
                    <p>Best Sellers</p>
                    <p>Today's Deals</p>
                    <p>Mobiles</p>
                    <p>Customer Service</p>
                </div>
            </div>
        </header>

        <main>
            <div class="hero-section">
              

                <div class="hero-msg">
                    <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local
                        delivery. <a>Click here to go to amazon.in</a></p>
                </div>
            </div>
                
            <div class="shop-section">
              
                <div class="box">
                    <div class="box-content">
                        <h2>Clothes</h2>
                        <div class="box-img"
                            style="background-image: url('https://images.unsplash.com/photo-1523381210434-271e8be1f52b?q=80&w=400');">
                        </div>
                        <a href="#" class="cardslink"> See more </a>
                        </div>
                </div>
                
                    
                <div class="box">
                    <div class="box-content">
                        <h2>Health & Care</h2>
                        <div class="box-img"
                            style="background-image: url('https://images.unsplash.com/photo-1584308666744-24d5c474f2ae?q=80&w=400');">
                        </div>
                        <a href="#" class="cardslink"> See more </a>
                    </div>
                </div>
                
                    
                <div class="box">
                    <div class="box-content">
                        <h2>Furniture</h2>
                        <div class="box-img"
                            style="background-image: url('https://images.unsplash.com/photo-1524758631624-e2822e304c36?q=80&w=400');">
                        </div>
                        <a href="#" class="cardslink"> See more </a>
                    </div>
                </div>
    
                <div class="box">
                    <div class="box-content">
                        <h2>Electronics</h2>
                        <div class="box-img"
                            style="background-image: url('https://images.unsplash.com/photo-1498049794561-7780e7231661?q=80&w=400');">
                        </div>
                        <a href="#" class="cardslink"> See more </a>
                    </div>
                </div>
                </a>    
            </div>

        </main>

        <footer>
            <div class="foot-panel1">Back to Top</div>
            <div class="foot-panel2">
                <ul>
                    <p>Get to Know Us</p>
                    <a>About Us</a>
                    <a>Careers</a>
                    <a>Press Releases</a>
                    <a>Amazon Science</a>
                </ul>
                <ul>
                    <p>Connect with Us</p>
                    <a>Facebook</a>
                    <a>Twitter</a>
                    <a>Instagram</a>
                </ul>
            </div>
        </footer>
    </body>

</html>
